.Suggestions {
  width: 100%;
  height: 630px;
  display: flex;
  justify-content: center;
  .Suggestions-items {
    width: 80%;
    height: 100%;
    .Suggestions-item {
      width: 100%;
      height: 252px;
      display: flex;
      justify-content: space-between;
      img {
        width: 24%;
        height: 242px;
        border-radius: 15px;
        margin: 10px 0;
      }
    }
    .Suggestions-item-second {
      width: 100%;
      height: 115px;
      margin-top: 15px;
      background-color: #edeeee;
      border-radius: 15px;
      display: flex;
      justify-content: space-between;
      position: relative;
      align-items: center;
      .supermarket {
        width: 45%;
        height: 100%;
        display: flex;
        align-items: center;
        .supermarket-bag {
          width: 65px;
          height: 65px;
          margin-right: 40px;
        }
        .supermarket-text {
          width: 250px;
          margin: 0 25px;
        }
        .supermarket-sold {
          width: 115px;
          height: 30px;
          border-radius: 20px;
          background-color: #029a49;

          p {
            width: 90px;
            height: 100%;
            color: white;
            font-family: var(--number-fa);
            font-size: 14px;
            margin: 4px auto;
          }
        }
      }
      .product-supermarket {
        width: 51%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        column-gap: 8px;
        padding-left: 20px;
        box-sizing: border-box;
        .off {
          width: 78px;
          height: 78px;
          background-color: white;
          border-radius: 50%;
          position: relative;
          display: flex;
          align-items: center;
          z-index: 1;
        }
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin-right: 10px;
        }
        .discount-circle {
          position: absolute;
          width: 35px;
          height: 18px;
          padding: 10px;
          background-color: #d32f2f;
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: 12px;
          font-family: var(--number-fa);
          bottom: 0;
          z-index: 1;
        }
        .supermarket-more {
          width: 140px;
          height: 51px;
          background-color: white;
          border-radius: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1;
          padding: 5px;
          p {
            width: 120px;
            color: #029a49;
            font-family: var(--number-fa);
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 22px;
              height: 22px;
              fill: #029a49;
              margin-top: 5px;
            }
          }
        }
      }
      .svg {
        position: absolute;
        background-size: cover;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 580px;
      }
    }
  }
}
