[for="show-super"] {
  width: 133px;
  height: 55px;
  background-color: #509753;
  border-radius: 40px;
  position: fixed;
  left: 20px;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  cursor: pointer;
  overflow: hidden;
  img {
    width: 80%;
    height: 100%;
    object-fit: contain;
  }
}

.super {
  width: 464px;
  height: 332px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  display: none;
  position: fixed;
  top: calc(50% - 332px / 2);
  left: calc(50% - 464px / 2);
  bottom: 90px;
  z-index: 1;
  overflow: hidden;
  display: none;
  p {
    font-family: var(--font-family);
    font-size: 16px;
    color: rgb(49, 49, 49);
    margin-top: 20px;
    margin-right: 20px;
    font-weight: bold;
  }
  .super-right {
    width: 205px;
    height: 250px;
    background-color: #dbf3e6;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
    p {
      width: 40%;
      height: 10%;
      position: absolute;
      right: 5px;
      top: 55px;
      img {
        position: absolute;
        top: 2px;
        left: 50px;
      }
    }
    .super-right-top {
      width: 103px;
      height: 25px;
      background-color: #509753;
      margin-right: 20px;
      position: absolute;
      top: 115px;
      border-radius: 10px;
      border-top-right-radius: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 85%;
        border-radius: 10px;
      }
    }
    .super-right-end {
      position: absolute;
      top: 180px;
      right: 95px;
      img {
        width: 130px;
      }
    }
  }
  .super-left {
    width: 205px;
    height: 250px;
    background-color: #f9ece0;
    margin-top: 20px;
    border-radius: 10px;
    position: absolute;
    left: 15px;
    top: 45px;
    p {
      width: 40%;
      height: 10%;
      position: absolute;
      right: 5px;
      top: -10px;
      img {
        position: absolute;
        right: 80px;
        top: 2px;
      }
    }
    .super-left-top {
      width: 103px;
      height: 25px;
      background-color: #e58652;
      margin-right: 20px;
      position: absolute;
      top: 50px;
      left: 30;
      border-radius: 10px;
      border-top-right-radius: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 85%;
        border-radius: 10px;
      }
    }
    .super-left-end {
      position: absolute;
      top: 115px;
      left: 1px;
      img {
        width: 130px;
      }
    }
  }
}

#show-super:checked ~ .super {
  display: block;
}
#close-super:checked ~ .super {
  display: none;
}
#show-super,
#close-super {
  display: none;
}

[for="close-super"] {
  width: 40px;
  height: 20px;
  color: rgb(49, 49, 49);
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-flow: row-reverse;
  cursor: pointer;
  justify-content: space-between;
  img {
    width: 25px;
    height: 25px;
    fill: rgb(49, 49, 49);
  }
}
